<div class="row">
<button class="button primary" data-notify="You’re ready to get started.">Get started <svg class="icon lucide icon-arrow" aria-hidden="true" viewBox="0 0 24 24">
<path d="M5 12h14" />
  <path d="m12 5 7 7-7 7" />
</svg>
</button>
<button class="button secondary" data-notify="Secondary action selected.">Secondary</button>
</div>
<div class="row">
<button class="button ghost" data-notify="Ghost action selected.">Ghost</button>
<button class="button danger" data-notify="Delete button preview. No data was removed.">Delete</button>
<button class="button " disabled>Disabled</button>
</div>
